<!DOCTYPE html>

<html>
  <head>
    
  </head>
  <body>
    <div class="box">
      <center>
       <form method= "POST" action="/answer">
          <h3>What's your name?</h3>
          <input type="text" name="name">
       
          <h3>Do you live in a house, ‘cozy’ house, or an apartment?</h3>
          <p>Please check only one answer.</p>
          <input type="radio" name="q1" value="10">Apartment <br>
          <input type="radio" name="q1" value="20">House <br>
          <input type="radio" name="q1" value="30">Cozy house/Tiny house<br>
      
         <h3>Do you have children?</h3>
         <p>Please check only one answer.</p>
         <input type="radio" name="q2" value="100"> No kids <br>
         <input type="radio" name="q2" value="200"> Kids under 10 <br>
         <input type=”radio” name=”q2” value=”300”> Kids over 10 <br>
       
         <h3>Do you have pets?</h3>
         <p>Please check only one answer.</p>
         <input type="radio" name="q3" value="3000"> No pets<br>
         <input type="radio" name="q3" value="4000"> Cats<br> <br>
         <input type=”radio” name=”q3” value=”5000”> Other pets <br>

	<h3> Do you have any experience with dogs?</h3>
	<p>Please check only one answer.</p>
	<input type=”radio” name=”q4” value=”10000”> No previous experience. <br>
	<input type=”radio” name=”q4” value=”20000”> Currently a dog owner <br>
	<input type=”radio” name=”q4” value=”30000”> Have previously owned a dog. <br><br>
         <input class = "button" type="submit">
       </form>
    </center>
  </div>

    
  </body>
</html>